[Unit]
Description=Wyoming porcupine

[Service]
Type=simple
ExecStart=/home/pi/wyoming-porcupine3/script/run --uri 'tcp://127.0.0.1:10400' --access-key='!!!PICOVOICE_ACCESS_KEY!!!'
WorkingDirectory=/home/pi/wyoming-porcupine3
Restart=always
RestartSec=1

[Install]
WantedBy=default.target